<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>MDK</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#4c1c1c">
  <meta name="msapplication-navbutton-color" content="#4c1c1c">
  <meta name="apple-mobile-web-app-status-bar-style" content="#4c1c1c">
</head>

<body>

  ${require('../parts/header.html')}
  <div class="container">
    <nav class="breadcrumbs">
      <a href="javascript:void(0)">Главная</a>
      <span>Страница не найдена</span>
    </nav>
  </div>
  <main class="main nf">
    <div class="container">
      <div class="row nf-main">
        <div class="col-md-6 col-sm-12 col-xs-12 nf-tetx">
          <div class="nf-text">
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/404.webp" class="lazy-web"
                type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/404.png" class="lazy-web"
                type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/404.png" class="lazy" alt="">
            </picture>
            <span>Что-то пошло не так</span>
            <p>Страница, которую Вы искали, к сожалению, не найдена.<br>
              Может быть, ссылка устарела или страница удалена.</p>
            <p>Не переживайте, решение есть! Можете вернуться на <a href="javascript:void(0)">Главную</a>, перейти на <a
                href="javascript:void(0)">Изделия из гранита</a>, <a href="javascript:void(0)">Изделия из мрамора</a>
              либо воспользоваться Поиском.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 nf-pic">
          <picture>
            <source srcset="../../images/pixel.webp" data-original="../../images/not-found.webp" class="lazy-web"
              type="image/webp">
            <source srcset="../../images/pixel.png" data-original="../../images/not-found.jpg" class="lazy-web"
              type="image/png">
            <img src="../../images/pixel.png" data-original="../../images/not-found.jpg" class="lazy" alt="">
          </picture>
        </div>
      </div>
    </div>
    <div class="consult-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-8 col-xs-12">
            <div class="consult-form__wrapper">
              <span class="consult-form__title">Вы можете обратиться<br>к нам и задать вопрос</span>
              <form class="consult-form ajax_form clear-styles" data-error-title="Ошибка отправки!"
                data-error-message="Попробуйте отправить заявку через некоторое время."
                data-success-title="Спасибо за обращение"
                data-success-message="Наши специалисты скоро с Вами свяжутся, чтобы обсудить детали">
                <div class="input-wrapper">
                  <input class="input" type="text" name="name" data-title="Имя"
                    data-validate-required="Обязательное поле" placeholder="Имя">
                </div>
                <div class="form-row">
                  <div class="input-wrapper">
                    <input class="input" type="text" name="email" data-title="Email"
                      data-validate-required="Обязательное поле" placeholder="Email">
                  </div>
                  <div class="input-wrapper">
                    <input class="input" type="tel" name="tel" data-title="Телефон"
                      data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер"
                      placeholder="Телефон">
                  </div>
                </div>
                <div class="input-wrapper">
                  <textarea class="textarea" name="comment" data-title="Коментарий"
                    placeholder="Текст сообщения"></textarea>
                </div>
                <button type="submit" class="btn">Задать вопрос</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
