<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>MDK</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="$accent">
  <meta name="msapplication-navbutton-color" content="$accent">
  <meta name="apple-mobile-web-app-status-bar-style" content="$accent">
</head>

<body>

  ${require('../parts/header.html')}
  <div class="container">
    <nav class="breadcrumbs">
      <a href="javascript:void(0)">Главная</a>
      <span>Блог</span>
    </nav>
  </div>
  <main class="main blog">
    <div class="container">
      <div class="blog-main">
        <h1>Блог</h1>
        <div class="row blog-wrapper">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam
                  tellus dictumst. Egestas eget est curabitur suspendisse faucibus amet dignissim. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam
                  tellus dictumst. Egestas eget est curabitur suspendisse faucibus amet dignissim. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam
                  tellus dictumst. Egestas eget est curabitur suspendisse faucibus amet dignissim. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam
                  tellus dictumst. Egestas eget est curabitur suspendisse faucibus amet dignissim. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam
                  tellus dictumst. Egestas eget est curabitur suspendisse faucibus amet dignissim. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam
                  tellus dictumst. Egestas eget est curabitur suspendisse faucibus amet dignissim. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam
                  tellus dictumst. Egestas eget est curabitur suspendisse faucibus amet dignissim. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam
                  tellus dictumst. Egestas eget est curabitur suspendisse faucibus amet dignissim. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam
                  tellus dictumst. Egestas eget est curabitur suspendisse faucibus amet dignissim. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="javascript:void(0)" class="blog-item">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                  type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
              <div>
                <span class="blog-item__title">Задача ясная и понятная и, главное, правильная!</span>
                <p class="blog-item__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <span class="blog-item__date">21/09/2021</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="blog-footer">
        <ul class="pagination">
          <li class="prev disabled">
            <span>&lt;</span>
          </li>
          <li class="current">
            <span>1</span>
          </li>
          <li>
            <a href="javascript:void(0)">2</a>
          </li>
          <li>
            <a href="javascript:void(0)">3</a>
          </li>
          <li>
            <a href="javascript:void(0)">...</a>
          </li>
          <li>
            <a href="javascript:void(0)">8</a>
          </li>
          <li class="next">
            <a href="javascript:void(0)">&gt;</a>
          </li>
        </ul>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
