<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>MDK</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#4c1c1c">
  <meta name="msapplication-navbutton-color" content="#4c1c1c">
  <meta name="apple-mobile-web-app-status-bar-style" content="#4c1c1c">
</head>

<body>

  ${require('../parts/header.html')}
  <div class="container">
    <nav class="breadcrumbs">
      <a href="javascript:void(0)">Главная</a>
      <span>Каталог изделий из гранита красного цвета</span>
    </nav>
  </div>
  <main class="main catalog">
    <div class="container">
      <div class="catalog-head">
        <h1>Каталог изделий из гранита красного цвета</h1>
      </div>
      <div class="row catalog-wrapper">
        <div class="col-lg-3 catalog-sidebar__wrapper">
          <aside class="catalog-sidebar">
            <div class="catalog-sidebar__top">
              <div class="catalog-filters__btn">
                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.50083 7V12.91C7.53083 13.135 7.45583 13.375 7.28333 13.5325C7.21395 13.602 7.13153 13.6572 7.0408 13.6948C6.95007 13.7325 6.85281 13.7518 6.75458 13.7518C6.65635 13.7518 6.55909 13.7325 6.46836 13.6948C6.37763 13.6572 6.29522 13.602 6.22583 13.5325L4.71833 12.025C4.63653 11.945 4.57434 11.8472 4.5366 11.7392C4.49887 11.6313 4.48663 11.516 4.50083 11.4025V7H4.47833L0.158331 1.465C0.0365369 1.30865 -0.0184189 1.11044 0.00547166 0.913697C0.0293623 0.716951 0.130157 0.53766 0.285831 0.415C0.428331 0.31 0.585831 0.25 0.750831 0.25H11.2508C11.4158 0.25 11.5733 0.31 11.7158 0.415C11.8715 0.53766 11.9723 0.716951 11.9962 0.913697C12.0201 1.11044 11.9651 1.30865 11.8433 1.465L7.52333 7H7.50083Z"
                    fill="#111111" />
                </svg>
                Фильтр
              </div>
            </div>
            <div class="catalog-filers__desktop">
              <div class="catalog-filters__checked">
                <a href="javascript:void(0)" class="catalog-filter__clear all">
                  Сбросить все
                  <i>
                    <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.795 0.5L3 2.295L1.205 0.5L0.5 1.205L2.295 3L0.5 4.795L1.205 5.5L3 3.705L4.795 5.5L5.5 4.795L3.705 3L5.5 1.205L4.795 0.5Z"
                        fill="#C4C4C4" />
                    </svg>
                  </i>
                </a>
                <a href="javascript:void(0)" class="catalog-filter__clear">
                  Красный
                  <i>
                    <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.795 0.5L3 2.295L1.205 0.5L0.5 1.205L2.295 3L0.5 4.795L1.205 5.5L3 3.705L4.795 5.5L5.5 4.795L3.705 3L5.5 1.205L4.795 0.5Z"
                        fill="#C4C4C4" />
                    </svg>
                  </i>
                </a>
              </div>
              <div class="catalog-filter">
                <div class="catalog-filter__header">
                  Продукция:
                </div>
                <div class="catalog-filter__body" style="display: none;">
                  <ul>
                    <li>
                      <a href="javascript:void(0)">Стены</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Полы</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Подоконники</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Лестницы</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Накрывная плита</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Панно</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Стены</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Полы</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Подоконники</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Лестницы</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Накрывная плита</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Панно</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Стены</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Полы</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Подоконники</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Лестницы</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Накрывная плита</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">Панно</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="catalog-filter opened">
                <div class="catalog-filter__header">
                  Цвет:
                </div>
                <div class="catalog-filter__body" style="display: block;">
                  <ul>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="color">
                          <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp"
                              class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg"
                              class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy"
                              alt="">
                          </picture>
                        </span>
                        Белый
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="color">
                          <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp"
                              class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg"
                              class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy"
                              alt="">
                          </picture>
                        </span>
                        Черный
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="color">
                          <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp"
                              class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg"
                              class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy"
                              alt="">
                          </picture>
                        </span>
                        Серый
                      </a>
                    </li>
                    <li class="checked">
                      <a href="javascript:void(0)">
                        <span class="color">
                          <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp"
                              class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg"
                              class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy"
                              alt="">
                          </picture>
                        </span>
                        Красный
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="color">
                          <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp"
                              class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg"
                              class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy"
                              alt="">
                          </picture>
                        </span>
                        Зеленый
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="color">
                          <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp"
                              class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg"
                              class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy"
                              alt="">
                          </picture>
                        </span>
                        Коричневый
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="color">
                          <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp"
                              class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg"
                              class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy"
                              alt="">
                          </picture>
                        </span>
                        Синий
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="color">
                          <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp"
                              class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg"
                              class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy"
                              alt="">
                          </picture>
                        </span>
                        Розовый
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span class="color">
                          <picture>
                            <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp"
                              class="lazy-web" type="image/webp">
                            <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg"
                              class="lazy-web" type="image/jpg">
                            <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy"
                              alt="">
                          </picture>
                        </span>
                        Оранжевый
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="catalog-filter">
                <div class="catalog-filter__header">
                  Регион:
                </div>
                <div class="catalog-filter__body" style="display: none;">
                  <ul>
                    <li>
                      <a href="javascript:void(0)">
                        <span>Урал</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span>Украина</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span>Карелия</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)">
                        <span>Казахстан</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-lg-9 catalog-items__wrapper">
          <div class="row catalog-items">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-01.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-01.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Жалгыз</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-02.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-02.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-02.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Мансуровского</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-03.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-03.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-03.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Жалгыз</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-04.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-04.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-04.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Мансуровского</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-01.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-01.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Жалгыз</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-02.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-02.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-02.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Мансуровского</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-03.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-03.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-03.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Жалгыз</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-04.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-04.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-04.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Мансуровского</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-01.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-01.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-01.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Жалгыз</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-02.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-02.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-02.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Мансуровского</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-03.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-03.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-03.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Жалгыз</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
              <a href="javascript:void(0)" class="catalog-item">
                <div class="catalog-item__pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/product-item-04.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/product-item-04.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/product-item-04.jpg" class="lazy"
                      alt="">
                  </picture>
                </div>
                <div class="catalog-item__descr">
                  <span class="catalog-item__name">Столешница из гранита Мансуровского</span>
                  <div class="catalog-item__footer">
                    <div>
                      <span class="catalog-item__price">от 1600 руб/м</span>
                      <span class="catalog-item__more">Подробнее >></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
          <div class="catalog-footer">
            <ul class="pagination">
              <li class="prev disabled">
                <span>&lt;</span>
              </li>
              <li class="current">
                <span>1</span>
              </li>
              <li>
                <a href="javascript:void(0)">2</a>
              </li>
              <li>
                <a href="javascript:void(0)">3</a>
              </li>
              <li>
                <a href="javascript:void(0)">...</a>
              </li>
              <li>
                <a href="javascript:void(0)">8</a>
              </li>
              <li class="next">
                <a href="javascript:void(0)">&gt;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

  <div class="mobile-filters">
    <div class="mobile-filters__head">
      <div>
        <i>
          <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.5838 9.5V17.7083C10.6255 18.0208 10.5213 18.3542 10.2818 18.5729C10.1854 18.6695 10.0709 18.7461 9.9449 18.7984C9.81889 18.8506 9.6838 18.8775 9.54738 18.8775C9.41095 18.8775 9.27587 18.8506 9.14985 18.7984C9.02384 18.7461 8.90937 18.6695 8.813 18.5729L6.71925 16.4792C6.60564 16.3681 6.51926 16.2323 6.46686 16.0823C6.41445 15.9323 6.39745 15.7722 6.41717 15.6146V9.5H6.38592L0.385919 1.8125C0.216761 1.59534 0.140434 1.32006 0.173615 1.0468C0.206797 0.773544 0.346789 0.524527 0.563003 0.354167C0.76092 0.208333 0.97967 0.125 1.20884 0.125H15.7922C16.0213 0.125 16.2401 0.208333 16.438 0.354167C16.6542 0.524527 16.7942 0.773544 16.8274 1.0468C16.8606 1.32006 16.7842 1.59534 16.6151 1.8125L10.6151 9.5H10.5838Z"
              fill="#111111" />
          </svg>
        </i>
        Фильтр
      </div>
      <span class="mobile-filters__close">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41L12.59 0Z"
            fill="#111111" />
        </svg>
      </span>
    </div>
    <div class="mobile-filters__body">
      <div class="catalog-filters__checked">
        <a href="javascript:void(0)" class="catalog-filter__clear all">
          Сбросить все
          <i>
            <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.795 0.5L3 2.295L1.205 0.5L0.5 1.205L2.295 3L0.5 4.795L1.205 5.5L3 3.705L4.795 5.5L5.5 4.795L3.705 3L5.5 1.205L4.795 0.5Z"
                fill="#C4C4C4" />
            </svg>
          </i>
        </a>
        <a href="javascript:void(0)" class="catalog-filter__clear">
          Красный
          <i>
            <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.795 0.5L3 2.295L1.205 0.5L0.5 1.205L2.295 3L0.5 4.795L1.205 5.5L3 3.705L4.795 5.5L5.5 4.795L3.705 3L5.5 1.205L4.795 0.5Z"
                fill="#C4C4C4" />
            </svg>
          </i>
        </a>
      </div>
      <div class="catalog-filter">
        <div class="catalog-filter__header">
          Продукция:
        </div>
        <div class="catalog-filter__body" style="display: none;">
          <ul>
            <li>
              <a href="javascript:void(0)">Стены</a>
            </li>
            <li>
              <a href="javascript:void(0)">Полы</a>
            </li>
            <li>
              <a href="javascript:void(0)">Подоконники</a>
            </li>
            <li>
              <a href="javascript:void(0)">Лестницы</a>
            </li>
            <li>
              <a href="javascript:void(0)">Накрывная плита</a>
            </li>
            <li>
              <a href="javascript:void(0)">Панно</a>
            </li>
            <li>
              <a href="javascript:void(0)">Стены</a>
            </li>
            <li>
              <a href="javascript:void(0)">Полы</a>
            </li>
            <li>
              <a href="javascript:void(0)">Подоконники</a>
            </li>
            <li>
              <a href="javascript:void(0)">Лестницы</a>
            </li>
            <li>
              <a href="javascript:void(0)">Накрывная плита</a>
            </li>
            <li>
              <a href="javascript:void(0)">Панно</a>
            </li>
            <li>
              <a href="javascript:void(0)">Стены</a>
            </li>
            <li>
              <a href="javascript:void(0)">Полы</a>
            </li>
            <li>
              <a href="javascript:void(0)">Подоконники</a>
            </li>
            <li>
              <a href="javascript:void(0)">Лестницы</a>
            </li>
            <li>
              <a href="javascript:void(0)">Накрывная плита</a>
            </li>
            <li>
              <a href="javascript:void(0)">Панно</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="catalog-filter opened">
        <div class="catalog-filter__header">
          Цвет:
        </div>
        <div class="catalog-filter__body" style="display: block;">
          <ul>
            <li>
              <a href="javascript:void(0)">
                <span class="color">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                  </picture>
                </span>
                Белый
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span class="color">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                  </picture>
                </span>
                Черный
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span class="color">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                  </picture>
                </span>
                Серый
              </a>
            </li>
            <li class="checked">
              <a href="javascript:void(0)">
                <span class="color">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                  </picture>
                </span>
                Красный
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span class="color">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                  </picture>
                </span>
                Зеленый
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span class="color">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                  </picture>
                </span>
                Коричневый
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span class="color">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                  </picture>
                </span>
                Синий
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span class="color">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                  </picture>
                </span>
                Розовый
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span class="color">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                  </picture>
                </span>
                Оранжевый
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="catalog-filter">
        <div class="catalog-filter__header">
          Регион:
        </div>
        <div class="catalog-filter__body" style="display: none;">
          <ul>
            <li>
              <a href="javascript:void(0)">
                <span>Урал</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span>Украина</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span>Карелия</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span>Казахстан</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
