<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>MDK</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#E53100">
  <meta name="msapplication-navbutton-color" content="#E53100">
  <meta name="apple-mobile-web-app-status-bar-style" content="#E53100">
</head>

<body>

  ${require('../parts/header.html')}
  <div class="container">
    <nav class="breadcrumbs">
      <a href="javascript:void(0)">Главная</a>
      <a href="javascript:void(0)">Месторождения</a>
      <span>Западно-Султаевское месторождение</span>
    </nav>
  </div>
  <main class="main field">
    <div class="container">
      <div class="field-main">
        <h1>Западно-Султаевское месторождение</h1>
        <div class="row field-info">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="field-pic">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
              </picture>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="field-specs">
              <div class="field-specs__head">
                <span class="field-specs__title">Характеристики</span>
                <div class="field-specs__colors">
                  <span>Цвет:</span>
                  <a href="javascript:void(0)" class="color">
                    <i>
                      <picture>
                        <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                        <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                        <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                      </picture>
                    </i>
                    <span>Синий</span>
                    <span>,</span>
                  </a>
                  <a href="javascript:void(0)" class="color">
                    <i>
                      <picture>
                        <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                        <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                        <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                      </picture>
                    </i>
                    <span>Белый</span>
                    <span>,</span>
                  </a>
                </div>
              </div>
              <div class="field-specs__list">
                <ul>
                  <li>
                    <span>Объемный вес:</span>
                    <strong>2710 кг/м3</strong>
                  </li>
                  <li>
                    <span>Водопоглощение:</span>
                    <strong>0,48 %</strong>
                  </li>
                  <li>
                    <span>Пористость:</span>
                    <strong>0,74 %</strong>
                  </li>
                  <li>
                    <span>Истираемость:</span>
                    <strong>0,4 г/см2</strong>
                  </li>
                  <li>
                    <span>Морозостойкость:</span>
                    <strong>100 циклов</strong>
                  </li>
                  <li>
                    <span>Предел прочности при сжатии:</span>
                    <strong>126 (МПа)</strong>
                  </li>
                </ul>
              </div>
              <div class="field-specs__buttons">
                <a href="javascript:void(0)" class="btn btn-tr">Изделия</a>
                <span class="btn popup-btn" data-mfp-src="#consult-popup">Консультация</span>
              </div>
            </div>
          </div>
        </div>
        <div class="field-products">
          <div class="field-products__head">
            <span>Гранитные изделия  Западно-Султаевского месторождения</span>
            <a href="javascript:void(0)">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5126 0.212328C8.37665 0.0763767 8.19226 0 8 0C7.80774 0 7.62335 0.0763767 7.4874 0.212328L4.92439 2.77533C4.64129 3.05843 4.64129 3.51744 4.92439 3.80054L7.4874 6.36354C7.7705 6.64665 8.2295 6.64664 8.5126 6.36354L11.0756 3.80054C11.2116 3.66459 11.2879 3.4802 11.2879 3.28793C11.2879 3.09567 11.2116 2.91128 11.0756 2.77533L8.5126 0.212328ZM6.46221 3.28793L8 1.75014L9.53779 3.28793L8 4.82573L6.46221 3.28793Z" fill="#E53100"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2247 4.92439C12.9416 4.64129 12.4826 4.64129 12.1995 4.92439L9.63646 7.4874C9.5005 7.62335 9.42412 7.80775 9.42413 8.00003C9.42414 8.1923 9.50053 8.37669 9.6365 8.51264L12.1999 11.0756C12.3358 11.2116 12.5202 11.2879 12.7125 11.2879C12.9047 11.2879 13.0891 11.2115 13.2251 11.0756L15.7877 8.51257C16.0708 8.22946 16.0708 7.77049 15.7877 7.4874L13.2247 4.92439ZM12.7124 9.53779L11.1743 7.99996L12.7121 6.46221L14.2499 8.00004L12.7124 9.53779Z" fill="#E53100"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.77533 4.92439C3.05843 4.64129 3.51744 4.64129 3.80054 4.92439L6.36354 7.4874C6.64663 7.77049 6.64665 8.22946 6.36358 8.51257L3.80094 11.0756C3.51785 11.3587 3.05885 11.3587 2.77573 11.0756L0.212364 8.51264C0.076397 8.37669 6.78433e-06 8.1923 4.57653e-10 8.00003C-6.82663e-06 7.80775 0.0763704 7.62335 0.212328 7.4874L2.77533 4.92439ZM1.75018 7.99996L3.28822 9.53779L4.82576 8.00004L3.28793 6.46221L1.75018 7.99996Z" fill="#E53100"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0756 12.1995L8.5126 9.63646C8.2295 9.35336 7.7705 9.35336 7.4874 9.63646L4.92439 12.1995C4.78844 12.3354 4.71206 12.5198 4.71207 12.7121C4.71207 12.9044 4.78846 13.0888 4.92443 13.2247L7.48779 15.7877C7.77092 16.0708 8.22992 16.0708 8.513 15.7876L11.0756 13.2246C11.3587 12.9415 11.3587 12.4825 11.0756 12.1995ZM6.46225 12.712L8 11.1743L9.53783 12.7121L8.00029 14.2499L6.46225 12.712Z" fill="#E53100"></path>
              </svg>
              Смотреть все >>
            </a>
          </div>
          <div class="field-products__wrapper row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a href="javascript:void(0)" class="field-product">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                </picture>
                <div>
                  <div class="field-product__name">Столешница из гранита Жалгыз</div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a href="javascript:void(0)" class="field-product">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                </picture>
                <div>
                  <div class="field-product__name">Брусчатка из Западно-Султаевского гранита</div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a href="javascript:void(0)" class="field-product">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                </picture>
                <div>
                  <div class="field-product__name">Плита из гранита Жалгыз-Сибирского месторождения</div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a href="javascript:void(0)" class="field-product">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                </picture>
                <div>
                  <div class="field-product__name">Столбики из Исетского гранита </div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a href="javascript:void(0)" class="field-product">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                </picture>
                <div>
                  <div class="field-product__name">Столешница из гранита Жалгыз</div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a href="javascript:void(0)" class="field-product">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                </picture>
                <div>
                  <div class="field-product__name">Брусчатка из Западно-Султаевского гранита</div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a href="javascript:void(0)" class="field-product">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                </picture>
                <div>
                  <div class="field-product__name">Плита из гранита Жалгыз-Сибирского месторождения</div>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <a href="javascript:void(0)" class="field-product">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/blog-01.webp" class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/blog-01.jpg" class="lazy" alt="">
                </picture>
                <div>
                  <div class="field-product__name">Столбики из Исетского гранита </div>
                </div>
              </a>
            </div>
          </div>
          <div class="field-products__footer">
            <a href="javascript:void(0)">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5126 0.212328C8.37665 0.0763767 8.19226 0 8 0C7.80774 0 7.62335 0.0763767 7.4874 0.212328L4.92439 2.77533C4.64129 3.05843 4.64129 3.51744 4.92439 3.80054L7.4874 6.36354C7.7705 6.64665 8.2295 6.64664 8.5126 6.36354L11.0756 3.80054C11.2116 3.66459 11.2879 3.4802 11.2879 3.28793C11.2879 3.09567 11.2116 2.91128 11.0756 2.77533L8.5126 0.212328ZM6.46221 3.28793L8 1.75014L9.53779 3.28793L8 4.82573L6.46221 3.28793Z" fill="#E53100"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2247 4.92439C12.9416 4.64129 12.4826 4.64129 12.1995 4.92439L9.63646 7.4874C9.5005 7.62335 9.42412 7.80775 9.42413 8.00003C9.42414 8.1923 9.50053 8.37669 9.6365 8.51264L12.1999 11.0756C12.3358 11.2116 12.5202 11.2879 12.7125 11.2879C12.9047 11.2879 13.0891 11.2115 13.2251 11.0756L15.7877 8.51257C16.0708 8.22946 16.0708 7.77049 15.7877 7.4874L13.2247 4.92439ZM12.7124 9.53779L11.1743 7.99996L12.7121 6.46221L14.2499 8.00004L12.7124 9.53779Z" fill="#E53100"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.77533 4.92439C3.05843 4.64129 3.51744 4.64129 3.80054 4.92439L6.36354 7.4874C6.64663 7.77049 6.64665 8.22946 6.36358 8.51257L3.80094 11.0756C3.51785 11.3587 3.05885 11.3587 2.77573 11.0756L0.212364 8.51264C0.076397 8.37669 6.78433e-06 8.1923 4.57653e-10 8.00003C-6.82663e-06 7.80775 0.0763704 7.62335 0.212328 7.4874L2.77533 4.92439ZM1.75018 7.99996L3.28822 9.53779L4.82576 8.00004L3.28793 6.46221L1.75018 7.99996Z" fill="#E53100"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0756 12.1995L8.5126 9.63646C8.2295 9.35336 7.7705 9.35336 7.4874 9.63646L4.92439 12.1995C4.78844 12.3354 4.71206 12.5198 4.71207 12.7121C4.71207 12.9044 4.78846 13.0888 4.92443 13.2247L7.48779 15.7877C7.77092 16.0708 8.22992 16.0708 8.513 15.7876L11.0756 13.2246C11.3587 12.9415 11.3587 12.4825 11.0756 12.1995ZM6.46225 12.712L8 11.1743L9.53783 12.7121L8.00029 14.2499L6.46225 12.712Z" fill="#E53100"></path>
              </svg>
              Смотреть все >>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-section">
      <div class="container">
        <span class="text-title">Описание</span>
        <div class="text-main">
          <p>Лезниковский гранит – красный с черными вкраплениями камень, который добывают в Житомирской области. Карьер находится неподалеку от села Лезники – отсюда и название камня, в Володарск-Волынском районе. Камень отличается высокой прочностью, красивым рисунком. Считается, что это один из самых твердых гранитов на постсоветском пространстве, он сложен в обработке – резке, полировке. Структура камня среднезернистая. </p>
          <p>За счет своей универсальности этот гранит используют практически во всех сферах, где речь заходит о необходимости камня. Чаще всего гранит красно-черного окраса встречается:</p>
          <ul>
            <li>в больших вестибюлях и холлах станций метрополитена;</li>
            <li>в больших зданиях и помещениях (вокзалы, перроны, платформы, общественные зоны);</li>
            <li>в гостиницах – входная группа, холлы, вестибюли, лестничные марши;</li>
            <li>в жилом строительстве – отделка внешняя и внутренняя и т. д.</li>
          </ul>
          <p>Красный камень природного происхождения выглядит невероятно выигрышно – он сам по себе задает тон, становится контрастным акцентом и в интерьере, и на открытом пространстве. Также его используют для изготовления памятников, причем речь идет не только о надгробных плитах и фигурах, но и о произведениях искусства.</p>
        </div>
      </div>
    </div>
    <div class="consult-section">
      <div class="container">
        <div class="consult-bg">
          <picture>
            <source srcset="../../images/pixel.webp" data-original="../../images/bg-consult.webp" class="lazy-web" type="image/webp">
            <source srcset="../../images/pixel.png" data-original="../../images/bg-consult.png" class="lazy-web" type="image/png">
            <img src="../../images/pixel.png" data-original="../../images/bg-consult.png" class="lazy" alt="">
          </picture>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-4 col-xs-12"></div>
          <div class="col-md-6 col-sm-8 col-xs-12">
            <div class="consult-form__wrapper">
              <span class="consult-form__title">Заказать расчет проекта</span>
              <form class="consult-form ajax_form clear-styles" data-error-title="Ошибка отправки!"
                    data-error-message="Попробуйте отправить заявку через некоторое время."
                    data-success-title="Спасибо за заявку! :)"
                    data-success-message="Наш менеджер свяжется с вами в ближайшее время">
                <div class="input-wrapper">
                  <input class="input" type="text" name="name" data-title="Имя" data-validate-required="Обязательное поле" placeholder="Имя">
                </div>
                <div class="form-row">
                  <div class="input-wrapper">
                    <input class="input" type="text" name="email" data-title="Email" data-validate-required="Обязательное поле" placeholder="Email">
                  </div>
                  <div class="input-wrapper">
                    <input class="input" type="tel" name="tel" data-title="Телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер" placeholder="Телефон">
                  </div>
                </div>
                <div class="input-wrapper">
                  <textarea class="textarea" name="comment" data-title="Коментарий" placeholder="Текст сообщения"></textarea>
                </div>
                <button type="submit" class="btn">Отправить заявку</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
