<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>MDK</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#E53100">
  <meta name="msapplication-navbutton-color" content="#E53100">
  <meta name="apple-mobile-web-app-status-bar-style" content="#E53100">
</head>

<body>

  <!-- ${require('../parts/header.html')} -->
  <div class="container">
    <nav class="breadcrumbs">
      <a href="javascript:void(0)">Главная</a>
      <a href="javascript:void(0)">Столешницы</a>
      <span>Мансуровский гранит</span>
    </nav>
  </div>
  <main class="main product">
    <div class="container">
      <h1>Столешница из Мансуровского гранита</h1>
      <div class="product-main">
        <div class="product-main__photo">
          <div class="product-main__img">
            <img src="../../images/product-pic.png" alt="">
          </div>
          <span>от 1500 руб / м <sup> 2</sup></span>
        </div>



        <div class="product-main__info">
          <div class="info">
            <div class="info__item">
              <span>Оплата</span>
              <p>Возможны любые виды оплаты. Безналичный расчет для юридических и физических лиц.</p>
            </div>
            <div class="info__item">
              <span>Доставка</span>
              <p>Стоимость доставки зависит от месторождения камня и соответствует действующим тарифам на грузоперевозки
                авто и ж/д транспорта. Уточняйте у менеджеров.
              </p>
            </div>
            <div class="info__item">
              <span>Гарантия качества</span>
              <p>Вся гранитная продукция соответсвует ГОСТам 32018-2012, 23342-2012, 9480-2012, Р52875-2018. Это
                характеризует наш гранит как продукцию высочайшего качества.
              </p>
            </div>
            <a href="javascript:void(0)" class="info__btn btn">заказать</a>
          </div>


        </div>




      </div>
      <div class="product-details">
        <div class="product-details__item">
          <h3>Описание</h3>
          <div class="product-details__about">
            <div class="product-details__about-prop">
              <ul>
                <li>Вид камня: <span>Гранит</span></li>
                <li>Вид продукции: <span>Столешница</span></li>
                <li>Цвет: <span>
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="5" cy="5" r="5" fill="#6185CE" />
                    </svg>Синий,
                  </span>
                  <span><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="5" cy="5" r="5" fill="#fff" />
                    </svg>
                    Белый</span>
                </li>
              </ul>
              <ul>
                <li>Регион: <span> Урал</span></li>
                <li>Месторождение: <span>Мансуровское</span></li>
              </ul>
            </div>
            <p>Если у Вас есть планы на заказ изделия из натурального камня и вы хотите, чтобы ваш заказ был выполнен
              действительно качественно, изделие служило долго и надёжно, тогда к выбору компании-производителя нужно
              подойти с пониманием всей серьезности выбора</p>

          </div>

        </div>
        <div class="product-details__item">
          <h3>Характеристики камня</h3>
          <div class="product-details__about">
            <table>
              <tr>
                <td>Объемный вес:</td>
                <td>2710 кг/м3</td>
              </tr>
              <tr>
                <td>Водопоглощение:</td>
                <td>0,48 %</td>
              </tr>
              <tr>
                <td>Пористость:</td>
                <td>0,74 %</td>
              </tr>
              <tr>
                <td>Истираемость:</td>
                <td>0,4 г/см2</td>
              </tr>
              <tr>
                <td>Морозостойкость:</td>
                <td>100 циклов</td>
              </tr>
              <tr>
                <td>Предел прочности при сжатии:</td>
                <td>126 (МПа)</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

  </main>


  </div>

  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
