<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>MDK</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#4c1c1c">
  <meta name="msapplication-navbutton-color" content="#4c1c1c">
  <meta name="apple-mobile-web-app-status-bar-style" content="#4c1c1c">
</head>

<body>

  ${require('../parts/header.html')}
  <div class="container">
    <nav class="breadcrumbs">
      <a href="javascript:void(0)">Главная</a>
      <a href="javascript:void(0)">Столешницы</a>
      <span>Мансуровский гранит</span>
    </nav>
  </div>
  <main class="main product">
    <div class="container">
      <h1>Столешница из Мансуровского гранита</h1>
      <div class="row product-main">
        <div class="col-md-6 col-12 product-pic">
          <div class="product-slider slick-slider lightgallery"
            data-slick='{ "slidesToShow": 1, "slidesToScroll": 1, "arrows": true, "dots": true, "infinite": false}'>
            <div class="product-slide" data-src="../../images/review-01.jpg">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/product-slide-01.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/product-slide-01.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.jpg" data-original="../../images/product-slide-01.png" class="lazy" alt="">
              </picture>
            </div>
            <div class="product-slide" data-src="../../images/review-01.jpg">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/product-slide-01.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/product-slide-01.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.jpg" data-original="../../images/product-slide-01.png" class="lazy" alt="">
              </picture>
            </div>
            <div class="product-slide" data-src="../../images/review-01.jpg">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/product-slide-01.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.jpg" data-original="../../images/product-slide-01.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.jpg" data-original="../../images/product-slide-01.png" class="lazy" alt="">
              </picture>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 product-about">
          <div class="product-about__inner">
            <div class="tabs">
              <div class="tabs-caption product-about__caption">
                <span class="tabs-caption-item active">Описание</span>
                <span class="tabs-caption-item characteristics">Характеристики&nbsp;камня</span>
              </div>
              <div class="tabs-content product-about__content">
                <div class="tabs-content-item active">
                  <ul class="details">
                    <li>
                      <span>Вид камня: </span>
                      <a href="javascript:void(0)">Гранит </a>
                    </li>
                    <li>
                      <span>Вид продукции:</span>
                      <a href="javascript:void(0)">Столешница</a>
                    </li>
                    <li>
                      <span>Цвет:</span>
                      <a href="javascript:void(0)"><svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <circle cx="5" cy="5" r="5" fill="#6185CE" />
                        </svg>Синий,</a>
                      <a href="javascript:void(0)"><svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <circle cx="5" cy="5" r="4.5" fill="white" stroke="#C4C4C4" />
                        </svg>Белый</a>
                    </li>
                    <li>
                      <span>Регион:</span>
                      <a href="javascript:void(0)">Урал</a>
                    </li>
                    <li>
                      <span>Месторождение:</span>
                      <a href="javascript:void(0)">Мансуровское</a>
                    </li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum quam ultrices ac arcu amet mi
                    posuere commodo. Sit
                    vulputate ultricies consequat id leo consectetur dui.
                  </p>
                </div>
                <div class="tabs-content-item characteristics">
                  <ul class="details">
                    <li>
                      <span> Объемный вес:</span>
                      <b>2710 кг/м3</b>
                    </li>
                    <li>
                      <span>Водопоглощение:</span>
                      <b>0,48 %</b>
                    </li>
                    <li>
                      <span>Пористость:</span>
                      <b>0,74 %</b>
                    </li>
                    <li>
                      <span>Истираемость:</span>
                      <b>0,4 г/см2</b>
                    </li>
                    <li>
                      <span>Морозостойкость:</span>
                      <b>100 циклов</b>
                    </li>
                    <li>
                      <span>Предел прочности при сжатии:</span>
                      <b>126 (МПа)</b>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <span class="price">от 1500 руб / м</span>
            <div class="product-about-btn">
              <a class="btn" href="javascript:void(0)">Нестандартный проект</a>
              <a class="btn" href="javascript:void(0)">заказать</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="services">
        <div>
          <span>Оплата</span>
          <p>Возможны любые виды оплаты. Безналичный расчет для юридических и физических лиц.</p>
        </div>
        <div>
          <span>Доставка</span>
          <p>Стоимость доставки зависит от месторождения камня и соответствует действующим тарифам на грузоперевозки
            авто и ж/д транспорта. Уточняйте у менеджеров.
          </p>
        </div>
        <div>
          <span>Гарантия качества</span>
          <p>Вся гранитная продукция соответсвует ГОСТам 32018-2012, 23342-2012, 9480-2012, Р52875-2018. Это
            характеризует наш гранит как продукцию высочайшего качества.
          </p>
        </div>
      </div>
    </div>
    <div class="gallery">
      <div class="container">
        <h2>Фотогалерея</h2>
        <ul class="lightgallery grid">

          <li class="grid-item grid-item--width2 grid-item--height2" data-src="../../images/gallery/pic-01.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-01.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-01.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-01.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item grid-item--width2 grid-item--height1" data-src="../../images/gallery/pic-14.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-14.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-14.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-14.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item" data-src="../../images/gallery/pic-03.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-03.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-03.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-03.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item" data-src="../../images/gallery/pic-04.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-04.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-04.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-04.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item grid-item--height2" data-src="../../images/gallery/pic-05.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-05.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-05.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-05.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item" data-src="../../images/gallery/pic-06.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-06.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-06.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-06.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item grid-item--width2" data-src="../../images/gallery/pic-07.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-07.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-07.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-07.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item  grid-item--width2" data-src="../../images/gallery/pic-08.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-08.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-08.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-08.png" class="lazy" alt="">
              </picture>
            </div>
          </li>

          <li class="grid-item" data-src="../../images/gallery/pic-09.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-09.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-09.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-09.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item grid-item--height2 grid-item--width2" data-src="../../images/gallery/pic-10.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-10.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-10.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-10.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item grid-item--width2" data-src="../../images/gallery/pic-14.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-14.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-14.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-14.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item" data-src="../../images/gallery/pic-12.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-12.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-12.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-12.png" class="lazy" alt="">
              </picture>
            </div>
          </li>

          <li class="grid-item" data-src="../../images/gallery/pic-13.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-13.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-13.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-13.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item grid-item--height2" data-src="../../images/gallery/pic-11.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-11.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-11.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-11.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item" data-src="../../images/gallery/pic-15.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-15.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-15.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-15.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item grid-item--width2" data-src="../../images/gallery/pic-16.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-16.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-16.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-16.png" class="lazy" alt="">
              </picture>
            </div>
          </li>

          <li class="grid-item grid-item--width2" data-src="../../images/gallery/pic-16.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-16.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-16.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-16.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
          <li class="grid-item" data-src="../../images/gallery/pic-02.png">
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/gallery/pic-02.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/gallery/pic-02.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/gallery/pic-02.png" class="lazy" alt="">
              </picture>
            </div>
          </li>
        </ul>
        <span class="btn">смотреть больше фотографий</span>
      </div>
    </div>
    <div class="consult-section">
      <div class="container">

        <div class="row">

          <div class="col-xs-12">
            <div class="consult-form__wrapper">
              <span class="consult-form__title">Нестандартный проект?</span>
              <p class="consult-form__text">Обсудите с нами проект с нестандартными размерами и мы воплотим в реальность
                все ваши идеи</p>
              <form class="consult-form ajax_form clear-styles" data-error-title="Ошибка отправки!"
                data-error-message="Попробуйте отправить заявку через некоторое время."
                data-success-title="Спасибо за заявку! :)"
                data-success-message="Наш менеджер свяжется с вами в ближайшее время">
                <div class="input-wrapper">
                  <input class="input" type="text" name="name" data-title="Имя"
                    data-validate-required="Обязательное поле" placeholder="Имя">
                </div>
                <div class="form-row">
                  <div class="input-wrapper">
                    <input class="input" type="text" name="email" data-title="Email"
                      data-validate-required="Обязательное поле" placeholder="Email">
                  </div>
                  <div class="input-wrapper">
                    <input class="input" type="tel" name="tel" data-title="Телефон"
                      data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер"
                      placeholder="Телефон">
                  </div>
                </div>
                <button type="submit" class="btn">Обсудить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-items">
      <div class="container">
        <div class="product-items__head">
          <h2>Гранитные столешницы белого цвета из камня других месторождений</h2>
          <a href="javascript:void(0)"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8.5126 0.212328C8.37665 0.0763767 8.19226 0 8 0C7.80774 0 7.62335 0.0763767 7.4874 0.212328L4.92439 2.77533C4.64129 3.05843 4.64129 3.51744 4.92439 3.80054L7.4874 6.36354C7.7705 6.64665 8.2295 6.64664 8.5126 6.36354L11.0756 3.80054C11.2116 3.66459 11.2879 3.4802 11.2879 3.28793C11.2879 3.09567 11.2116 2.91128 11.0756 2.77533L8.5126 0.212328ZM6.46221 3.28793L8 1.75014L9.53779 3.28793L8 4.82573L6.46221 3.28793Z"
                fill="#4c1c1c" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2247 4.92439C12.9416 4.64129 12.4826 4.64129 12.1995 4.92439L9.63646 7.4874C9.5005 7.62335 9.42412 7.80775 9.42413 8.00003C9.42414 8.1923 9.50053 8.37669 9.6365 8.51264L12.1999 11.0756C12.3358 11.2116 12.5202 11.2879 12.7125 11.2879C12.9047 11.2879 13.0891 11.2115 13.2251 11.0756L15.7877 8.51257C16.0708 8.22946 16.0708 7.77049 15.7877 7.4874L13.2247 4.92439ZM12.7124 9.53779L11.1743 7.99996L12.7121 6.46221L14.2499 8.00004L12.7124 9.53779Z"
                fill="#4c1c1c" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M2.77533 4.92439C3.05843 4.64129 3.51744 4.64129 3.80054 4.92439L6.36354 7.4874C6.64663 7.77049 6.64665 8.22946 6.36358 8.51257L3.80094 11.0756C3.51785 11.3587 3.05885 11.3587 2.77573 11.0756L0.212364 8.51264C0.076397 8.37669 6.78433e-06 8.1923 4.57653e-10 8.00003C-6.82663e-06 7.80775 0.0763704 7.62335 0.212328 7.4874L2.77533 4.92439ZM1.75018 7.99996L3.28822 9.53779L4.82576 8.00004L3.28793 6.46221L1.75018 7.99996Z"
                fill="#4c1c1c" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11.0756 12.1995L8.5126 9.63646C8.2295 9.35336 7.7705 9.35336 7.4874 9.63646L4.92439 12.1995C4.78844 12.3354 4.71206 12.5198 4.71207 12.7121C4.71207 12.9044 4.78846 13.0888 4.92443 13.2247L7.48779 15.7877C7.77092 16.0708 8.22992 16.0708 8.513 15.7876L11.0756 13.2246C11.3587 12.9415 11.3587 12.4825 11.0756 12.1995ZM6.46225 12.712L8 11.1743L9.53783 12.7121L8.00029 14.2499L6.46225 12.712Z"
                fill="#4c1c1c" />
            </svg>
            Смотреть все >></a>
        </div>
        <div class="row catalog-items">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="javascript:void(0)" class="catalog-item">
              <div class="catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/product-item-01.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/product-item-01.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.png" data-original="../../images/product-item-01.jpg" class="lazy"
                    alt="">
                </picture>
              </div>
              <div class="catalog-item__descr">
                <span class="catalog-item__name">Столешница из гранита Жалгыз</span>
                <div class="catalog-item__footer">
                  <div>
                    <span class="catalog-item__price">от 1600 руб/м</span>
                    <span class="catalog-item__more">Подробнее &gt;&gt;</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="javascript:void(0)" class="catalog-item">
              <div class="catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/product-item-02.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/product-item-02.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.png" data-original="../../images/product-item-02.jpg" class="lazy"
                    alt="">
                </picture>
              </div>
              <div class="catalog-item__descr">
                <span class="catalog-item__name">Столешница из гранита Мансуровского</span>
                <div class="catalog-item__footer">
                  <div>
                    <span class="catalog-item__price">от 1600 руб/м</span>
                    <span class="catalog-item__more">Подробнее &gt;&gt;</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="javascript:void(0)" class="catalog-item">
              <div class="catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/product-item-03.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/product-item-03.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.png" data-original="../../images/product-item-03.jpg" class="lazy"
                    alt="">
                </picture>
              </div>
              <div class="catalog-item__descr">
                <span class="catalog-item__name">Столешница из гранита Жалгыз</span>
                <div class="catalog-item__footer">
                  <div>
                    <span class="catalog-item__price">от 1600 руб/м</span>
                    <span class="catalog-item__more">Подробнее &gt;&gt;</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="javascript:void(0)" class="catalog-item">
              <div class="catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/product-item-04.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/product-item-04.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.png" data-original="../../images/product-item-04.jpg" class="lazy"
                    alt="">
                </picture>
              </div>
              <div class="catalog-item__descr">
                <span class="catalog-item__name">Столешница из гранита Жалгыз</span>
                <div class="catalog-item__footer">
                  <div>
                    <span class="catalog-item__price">от 1600 руб/м</span>
                    <span class="catalog-item__more">Подробнее &gt;&gt;</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <a class="bottom" href="javascript:void(0)"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.5126 0.212328C8.37665 0.0763767 8.19226 0 8 0C7.80774 0 7.62335 0.0763767 7.4874 0.212328L4.92439 2.77533C4.64129 3.05843 4.64129 3.51744 4.92439 3.80054L7.4874 6.36354C7.7705 6.64665 8.2295 6.64664 8.5126 6.36354L11.0756 3.80054C11.2116 3.66459 11.2879 3.4802 11.2879 3.28793C11.2879 3.09567 11.2116 2.91128 11.0756 2.77533L8.5126 0.212328ZM6.46221 3.28793L8 1.75014L9.53779 3.28793L8 4.82573L6.46221 3.28793Z"
              fill="#4c1c1c" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M13.2247 4.92439C12.9416 4.64129 12.4826 4.64129 12.1995 4.92439L9.63646 7.4874C9.5005 7.62335 9.42412 7.80775 9.42413 8.00003C9.42414 8.1923 9.50053 8.37669 9.6365 8.51264L12.1999 11.0756C12.3358 11.2116 12.5202 11.2879 12.7125 11.2879C12.9047 11.2879 13.0891 11.2115 13.2251 11.0756L15.7877 8.51257C16.0708 8.22946 16.0708 7.77049 15.7877 7.4874L13.2247 4.92439ZM12.7124 9.53779L11.1743 7.99996L12.7121 6.46221L14.2499 8.00004L12.7124 9.53779Z"
              fill="#4c1c1c" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2.77533 4.92439C3.05843 4.64129 3.51744 4.64129 3.80054 4.92439L6.36354 7.4874C6.64663 7.77049 6.64665 8.22946 6.36358 8.51257L3.80094 11.0756C3.51785 11.3587 3.05885 11.3587 2.77573 11.0756L0.212364 8.51264C0.076397 8.37669 6.78433e-06 8.1923 4.57653e-10 8.00003C-6.82663e-06 7.80775 0.0763704 7.62335 0.212328 7.4874L2.77533 4.92439ZM1.75018 7.99996L3.28822 9.53779L4.82576 8.00004L3.28793 6.46221L1.75018 7.99996Z"
              fill="#4c1c1c" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.0756 12.1995L8.5126 9.63646C8.2295 9.35336 7.7705 9.35336 7.4874 9.63646L4.92439 12.1995C4.78844 12.3354 4.71206 12.5198 4.71207 12.7121C4.71207 12.9044 4.78846 13.0888 4.92443 13.2247L7.48779 15.7877C7.77092 16.0708 8.22992 16.0708 8.513 15.7876L11.0756 13.2246C11.3587 12.9415 11.3587 12.4825 11.0756 12.1995ZM6.46225 12.712L8 11.1743L9.53783 12.7121L8.00029 14.2499L6.46225 12.712Z"
              fill="#4c1c1c" />
          </svg>
          Смотреть все >></a>
      </div>
    </div>
    <div class="section reviews-section">
      <div class="container">
        <div class="reviews">
          <div class="reviews__head">
            <h2>Отзывы /</h2>
            <a href="javascript:void(0)" class="popup-btn" data-mfp-src="#reviews-popup">Оставить отзыв</a>
            <a href="javascript:void(0)"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8.5126 0.212328C8.37665 0.0763767 8.19226 0 8 0C7.80774 0 7.62335 0.0763767 7.4874 0.212328L4.92439 2.77533C4.64129 3.05843 4.64129 3.51744 4.92439 3.80054L7.4874 6.36354C7.7705 6.64665 8.2295 6.64664 8.5126 6.36354L11.0756 3.80054C11.2116 3.66459 11.2879 3.4802 11.2879 3.28793C11.2879 3.09567 11.2116 2.91128 11.0756 2.77533L8.5126 0.212328ZM6.46221 3.28793L8 1.75014L9.53779 3.28793L8 4.82573L6.46221 3.28793Z"
                  fill="#4c1c1c" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.2247 4.92439C12.9416 4.64129 12.4826 4.64129 12.1995 4.92439L9.63646 7.4874C9.5005 7.62335 9.42412 7.80775 9.42413 8.00003C9.42414 8.1923 9.50053 8.37669 9.6365 8.51264L12.1999 11.0756C12.3358 11.2116 12.5202 11.2879 12.7125 11.2879C12.9047 11.2879 13.0891 11.2115 13.2251 11.0756L15.7877 8.51257C16.0708 8.22946 16.0708 7.77049 15.7877 7.4874L13.2247 4.92439ZM12.7124 9.53779L11.1743 7.99996L12.7121 6.46221L14.2499 8.00004L12.7124 9.53779Z"
                  fill="#4c1c1c" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.77533 4.92439C3.05843 4.64129 3.51744 4.64129 3.80054 4.92439L6.36354 7.4874C6.64663 7.77049 6.64665 8.22946 6.36358 8.51257L3.80094 11.0756C3.51785 11.3587 3.05885 11.3587 2.77573 11.0756L0.212364 8.51264C0.076397 8.37669 6.78433e-06 8.1923 4.57653e-10 8.00003C-6.82663e-06 7.80775 0.0763704 7.62335 0.212328 7.4874L2.77533 4.92439ZM1.75018 7.99996L3.28822 9.53779L4.82576 8.00004L3.28793 6.46221L1.75018 7.99996Z"
                  fill="#4c1c1c" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11.0756 12.1995L8.5126 9.63646C8.2295 9.35336 7.7705 9.35336 7.4874 9.63646L4.92439 12.1995C4.78844 12.3354 4.71206 12.5198 4.71207 12.7121C4.71207 12.9044 4.78846 13.0888 4.92443 13.2247L7.48779 15.7877C7.77092 16.0708 8.22992 16.0708 8.513 15.7876L11.0756 13.2246C11.3587 12.9415 11.3587 12.4825 11.0756 12.1995ZM6.46225 12.712L8 11.1743L9.53783 12.7121L8.00029 14.2499L6.46225 12.712Z"
                  fill="#4c1c1c" />
              </svg>
              Смотреть все >></a>
          </div>
          <ul class="reviews__list">
            <li class="reviews__item">
              <div class="top">
                <div class="reviews__item-pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/review-item.webp"
                      class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.png" data-original="../../images/review-item.jpg"
                      class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.png" data-original="../../images/review-item.jpg" class="lazy" alt="">
                  </picture>
                </div>
                <span>21/09/2021</span>
              </div>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam tellus dictumst. Egestas
                eget est curabitur suspendisse faucibus amet dignissim. Ipsum sed feugiat sit maecenas egestas. Eget id
                posuere facilisis sit augue.</p>
              <div class="reviews__item-wrap">
                <span>Олег</span>
                <div class="rating">
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 1.61803L8.09607 4.99139L8.20833 5.33688H8.5716H12.1186L9.24901 7.42173L8.95511 7.63526L9.06737 7.98075L10.1634 11.3541L7.29389 9.26925L7 9.05573L6.70611 9.26925L3.83656 11.3541L4.93263 7.98075L5.04489 7.63526L4.75099 7.42173L1.88145 5.33688H5.4284H5.79167L5.90393 4.99139L7 1.61803Z"
                        stroke="#4c1c1c" />
                    </svg>

                  </div>

                </div>
              </div>

            </li>
            <li class="reviews__item">
              <div class="top">
                <div class="reviews__item-pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/no-img2.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.png" data-original="../../images/no-img2.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.png" data-original="../../images/no-img2.jpg" class="lazy" alt="">
                  </picture>
                </div>
                <span>21/09/2021</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam tellus dictumst.</p>
              <div class="reviews__item-wrap">
                <span>Вася</span>
                <div class="rating">
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 1.61803L8.09607 4.99139L8.20833 5.33688H8.5716H12.1186L9.24901 7.42173L8.95511 7.63526L9.06737 7.98075L10.1634 11.3541L7.29389 9.26925L7 9.05573L6.70611 9.26925L3.83656 11.3541L4.93263 7.98075L5.04489 7.63526L4.75099 7.42173L1.88145 5.33688H5.4284H5.79167L5.90393 4.99139L7 1.61803Z"
                        stroke="#4c1c1c" />
                    </svg>

                  </div>

                </div>
              </div>

            </li>
            <li class="reviews__item">
              <div class="top">
                <div class="reviews__item-pic">
                  <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/no-img2.webp" class="lazy-web"
                      type="image/webp">
                    <source srcset="../../images/pixel.png" data-original="../../images/no-img2.jpg" class="lazy-web"
                      type="image/jpg">
                    <img src="../../images/pixel.png" data-original="../../images/no-img2.jpg" class="lazy" alt="">
                  </picture>
                </div>
                <span>21/09/2021</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel cursus diam tellus dictumst. Egestas
                eget est curabitur suspendisse faucibus amet dignissim</p>
              <div class="reviews__item-wrap">
                <span>Евгения</span>
                <div class="rating">
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 0L8.5716 4.83688H13.6574L9.5429 7.82624L11.1145 12.6631L7 9.67376L2.8855 12.6631L4.4571 7.82624L0.342604 4.83688H5.4284L7 0Z"
                        fill="#4c1c1c" />
                    </svg>
                  </div>
                  <div class="rating__star">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 1.61803L8.09607 4.99139L8.20833 5.33688H8.5716H12.1186L9.24901 7.42173L8.95511 7.63526L9.06737 7.98075L10.1634 11.3541L7.29389 9.26925L7 9.05573L6.70611 9.26925L3.83656 11.3541L4.93263 7.98075L5.04489 7.63526L4.75099 7.42173L1.88145 5.33688H5.4284H5.79167L5.90393 4.99139L7 1.61803Z"
                        stroke="#4c1c1c" />
                    </svg>

                  </div>

                </div>
              </div>

            </li>
          </ul>
          <a class="bottom" href="javascript:void(0)"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8.5126 0.212328C8.37665 0.0763767 8.19226 0 8 0C7.80774 0 7.62335 0.0763767 7.4874 0.212328L4.92439 2.77533C4.64129 3.05843 4.64129 3.51744 4.92439 3.80054L7.4874 6.36354C7.7705 6.64665 8.2295 6.64664 8.5126 6.36354L11.0756 3.80054C11.2116 3.66459 11.2879 3.4802 11.2879 3.28793C11.2879 3.09567 11.2116 2.91128 11.0756 2.77533L8.5126 0.212328ZM6.46221 3.28793L8 1.75014L9.53779 3.28793L8 4.82573L6.46221 3.28793Z"
                fill="#4c1c1c" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2247 4.92439C12.9416 4.64129 12.4826 4.64129 12.1995 4.92439L9.63646 7.4874C9.5005 7.62335 9.42412 7.80775 9.42413 8.00003C9.42414 8.1923 9.50053 8.37669 9.6365 8.51264L12.1999 11.0756C12.3358 11.2116 12.5202 11.2879 12.7125 11.2879C12.9047 11.2879 13.0891 11.2115 13.2251 11.0756L15.7877 8.51257C16.0708 8.22946 16.0708 7.77049 15.7877 7.4874L13.2247 4.92439ZM12.7124 9.53779L11.1743 7.99996L12.7121 6.46221L14.2499 8.00004L12.7124 9.53779Z"
                fill="#4c1c1c" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M2.77533 4.92439C3.05843 4.64129 3.51744 4.64129 3.80054 4.92439L6.36354 7.4874C6.64663 7.77049 6.64665 8.22946 6.36358 8.51257L3.80094 11.0756C3.51785 11.3587 3.05885 11.3587 2.77573 11.0756L0.212364 8.51264C0.076397 8.37669 6.78433e-06 8.1923 4.57653e-10 8.00003C-6.82663e-06 7.80775 0.0763704 7.62335 0.212328 7.4874L2.77533 4.92439ZM1.75018 7.99996L3.28822 9.53779L4.82576 8.00004L3.28793 6.46221L1.75018 7.99996Z"
                fill="#4c1c1c" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M11.0756 12.1995L8.5126 9.63646C8.2295 9.35336 7.7705 9.35336 7.4874 9.63646L4.92439 12.1995C4.78844 12.3354 4.71206 12.5198 4.71207 12.7121C4.71207 12.9044 4.78846 13.0888 4.92443 13.2247L7.48779 15.7877C7.77092 16.0708 8.22992 16.0708 8.513 15.7876L11.0756 13.2246C11.3587 12.9415 11.3587 12.4825 11.0756 12.1995ZM6.46225 12.712L8 11.1743L9.53783 12.7121L8.00029 14.2499L6.46225 12.712Z"
                fill="#4c1c1c" />
            </svg>
            Смотреть все >></a>
        </div>
      </div>
    </div>
    <div class="consult-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="consult-form__wrapper">
              <span class="consult-form__title">Свяжитесь с нами!</span>
              <form class="consult-form ajax_form clear-styles" data-error-title="Ошибка отправки!"
                data-error-message="Попробуйте отправить заявку через некоторое время."
                data-success-title="Спасибо за заявку! :)"
                data-success-message="Наш менеджер свяжется с вами в ближайшее время">
                <div class="input-wrapper">
                  <input class="input" type="text" name="name" data-title="Имя"
                    data-validate-required="Обязательное поле" placeholder="Имя">
                </div>
                <div class="form-row">
                  <div class="input-wrapper">
                    <input class="input" type="text" name="email" data-title="Email"
                      data-validate-required="Обязательное поле" placeholder="Email">
                  </div>
                  <div class="input-wrapper">
                    <input class="input" type="tel" name="tel" data-title="Телефон"
                      data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер"
                      placeholder="Телефон">
                  </div>
                </div>
                <div class="input-wrapper">
                  <textarea class="textarea" name="comment" data-title="Коментарий"
                    placeholder="Текст сообщения"></textarea>
                </div>
                <button type="submit" class="btn">связаться</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide">
    <div class="popup reviews-popup mfp-hide" id="reviews-popup">
      <button title="Close (Esc)" type="button" class="mfp-close">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41L12.59 0Z"
            fill="#111111"></path>
        </svg>
      </button>
      <span class="popup-title">Оставьте свой отзыв</span>
      <form class="reviews-popup__form ajax_form clear-styles" data-error-title="Ошибка отправки!"
        data-error-message="Попробуйте еще раз через некоторое время." data-success-title="Спасибо за отзыв! :)"
        data-success-message="Он будет опубликован после модерации">
        <div class="reviews-popup__rating">
          <span>Ваша оценка:</span>
          <fieldset class="rating">
            <input type="radio" id="star5" name="grade" value="5"><label class="rating-star" for="star5"></label>
            <input type="radio" id="star4" name="grade" value="4"><label class="rating-star" for="star4"></label>
            <input type="radio" id="star3" name="grade" value="3"><label class="rating-star" for="star3"></label>
            <input type="radio" id="star2" name="grade" value="2"><label class="rating-star" for="star2"></label>
            <input type="radio" id="star1" name="grade" value="1"><label class="rating-star" for="star1"></label>
          </fieldset>
        </div>
        <div class="reviews-popup__form-wrapper">
          <div>
            <div class="input-wrapper">
              <input class="input" type="text" name="name" data-title="Имя" data-validate-required="Обязательное поле"
                placeholder="Имя">
            </div>
            <div class="input-wrapper">
              <input class="input" type="text" name="email" data-title="Email"
                data-validate-required="Обязательное поле" placeholder="Email">
            </div>
          </div>
          <div>
            <div class="input-wrapper">
              <textarea class="textarea" name="comment" data-title="Коментарий" placeholder="Ваш отзыв"></textarea>
            </div>
          </div>
        </div>
        <div class="reviews-popup__form-upload">
          <div class="input-file">
            <input type="file" id="review-photo">
            <label for="review-photo">
              <svg width="11" height="22" viewBox="0 0 11 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.5 5V16.5C9.5 18.71 7.71 20.5 5.5 20.5C3.29 20.5 1.5 18.71 1.5 16.5V4C1.5 3.33696 1.76339 2.70107 2.23223 2.23223C2.70107 1.76339 3.33696 1.5 4 1.5C4.66304 1.5 5.29893 1.76339 5.76777 2.23223C6.23661 2.70107 6.5 3.33696 6.5 4V14.5C6.5 15.05 6.05 15.5 5.5 15.5C4.95 15.5 4.5 15.05 4.5 14.5V5H3V14.5C3 15.163 3.26339 15.7989 3.73223 16.2678C4.20107 16.7366 4.83696 17 5.5 17C6.16304 17 6.79893 16.7366 7.26777 16.2678C7.73661 15.7989 8 15.163 8 14.5V4C8 1.79 6.21 0 4 0C1.79 0 0 1.79 0 4V16.5C0 19.54 2.46 22 5.5 22C8.54 22 11 19.54 11 16.5V5H9.5Z"
                  fill="#4D4C4C"></path>
              </svg>
              <span>Загрузить изображение (не более 2Мб, формат jpg, png)</span>
            </label>
          </div>
        </div>
        <button type="submit" class="btn">Оставить отзыв</button>
      </form>
    </div>
  </div>

</body>

</html>
