<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>MDK</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#4c1c1c">
  <meta name="msapplication-navbutton-color" content="#4c1c1c">
  <meta name="apple-mobile-web-app-status-bar-style" content="#4c1c1c">
</head>

<body>

  ${require('../parts/header.html')}
  <div class="container">
    <nav class="breadcrumbs">
      <a href="javascript:void(0)">Главная</a>
      <span> Карта сайта</span>
    </nav>
  </div>
  <main class="main">
    <div class="container">
      <div class="sitemap">

        <h1 class="sitemap__title">СТРАНИЦЫ</h1>
        <a class="sitemap__top-link" href="/">Карта товарного каталога</a>
        <ul class="sitemap__list top">
          <li class="sitemap__item lvl-0"><a href="/">Контакты</a></li>
          <li class="sitemap__item lvl-0"><a href="/">Главная</a></li>
          <li class="sitemap__item lvl-0"><a href="/">Публичный договор</a></li>
        </ul>
        <h1 class="sitemap__title">КАТЕГОРИИ</h1>
        <p class="amount">Показано 52</p>
        <ul class="sitemap__list">
          <li class="sitemap__item lvl-0"><a href="/">Продукция</a></li>
        </ul>
        <ul class="sitemap__list">
          <li class="sitemap__item lvl-1"><a href="/">Лицо</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Праймер</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Тональный крем</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Хайлайтер</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Пудра</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Румяна / Корректоры</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Фиксатор</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Консилер</a></li>

          <li class="sitemap__item lvl-1"><a href="/">Глаза</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Тени для глаз</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Карандаш для глаз</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Тушь</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Ресницы</a></li>
          <li class="sitemap__item lvl-3"><a href="/">Материал для ламинирования ресниц</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Брови</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Фиксатор</a></li>

          <li class="sitemap__item lvl-1"><a href="/">Губы</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Губная помада</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Карандаш для губ</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Блеск для губ</a></li>

          <li class="sitemap__item lvl-1"><a href="/">Кисти</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для лица</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для глаз</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для губ</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для грима</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для тонального крема</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для пудры</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для коррекции и румян</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Очистители кистей</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для консилеров</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для теней</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для подводки глаз</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для бровей и ресниц</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для Тела</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для Базы</a></li>
          <li class="sitemap__item lvl-2"><a href="/">Кисти для Хайлайтера</a></li>

          <li class="sitemap__item lvl-1"><a href="/">Аксессуары</a></li>
          <li class="sitemap__item lvl-1"><a href="/">Грим</a></li>
          <li class="sitemap__item lvl-1"><a href="/">Спецэффекты</a></li>
          <li class="sitemap__item lvl-1"><a href="/">Очищающие средства</a></li>
          <li class="sitemap__item lvl-1"><a href="/">Бестселлеры</a></li>
          <li class="sitemap__item lvl-1"><a href="/">Ограниченный выпуск</a></li>
        </ul>

        <a class="sitemap__top-link" href="/">Карта товарного каталога</a>
        <p class="amount">Показано 52</p>

      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}
</body>

</html>
