.main-section {
  max-height: 486px;
  position: relative;
  > picture {
    position: absolute;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    position: relative;
    z-index: 1;
    height: 100%;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 57px;

  @media (max-width: 767px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.main-left {
  position: relative;
  z-index: 100;
  > span {
    display: block;
    max-width: 470px;
    font-size: 54px;
    line-height: 66px;
    font-weight: 500;
    color: $white;
    margin-bottom: 36px;
    @media (max-width: 991px) {
      font-size: 30px;
      line-height: 30px;
    }
    @media (max-width: 767px) {
      margin-left: 15px;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 30px;
    }
  }
  .btn {
    max-width: 255px;
    width: 100%;
    box-shadow: 0 0 10px rgba($black, 0.35);
    @media (max-width: 991px) {
      max-width: 180px;
    }
    @media (max-width: 767px) {
      margin-left: 15px;
      max-width: 160px;
    }
  }
}

.main-right {
  display: flex;
  margin-top: -210px;

  @media (max-width: 991px) {
    margin-top: -50px;
  }
  @media (max-width: 767px) {
    margin-top: 90px;
    padding-bottom: 25px;
  }
  @media (max-width: 575px) {
  }
}

.main-advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 767px) {
    // margin-left: 20px;
  }

  li {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: $white;
    & i {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      margin-right: 30px;
      border-radius: 50%;
      background-color: $accent;

      @media (max-width: 767px) {
        width: 30px;
        height: 30px;
        margin-right: 20px;
      }
      & svg {
        width: 24px;
        @media (max-width: 767px) {
          width: 15px;
        }
      }
    }
    & span {
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
    }
    p {
      margin: 0;
      font-size: 14px;
      line-height: 17px;
      opacity: 0.8;
      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 15px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 767px) {
      align-items: start;
      margin-right: 15px;
    }

    &:nth-child(1) {
      margin-left: 635px;
      margin-bottom: 16px;
      @media (max-width: 1199px) {
        margin-left: 536px;
      }
      @media (max-width: 991px) {
        margin-left: 426px;
      }
      @media (max-width: 767px) {
        margin-left: 15px;
        margin-bottom: 15px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 24px;
      margin-left: 510px;
      @media (max-width: 1199px) {
        margin-left: 420px;
      }
      @media (max-width: 991px) {
        margin-left: 300px;
      }
      @media (max-width: 767px) {
        margin-left: 15px;
        margin-bottom: 15px;
      }
    }
    &:nth-child(3) {
      margin-left: 438px;

      @media (max-width: 1199px) {
        margin-left: 350px;
      }
      @media (max-width: 991px) {
        margin-left: 221px;
      }
      @media (max-width: 767px) {
        margin-left: 15px;
        margin-bottom: 15px;
      }
    }
  }
}
