.products-section {
  overflow-x: hidden;
}

.products {
  padding-top: 60px;
  padding-bottom: 90px;
  @include bp(md) {
    padding: 80px 0;
  }
  @include bp(sm) {
    padding: 40px 0;
  }
  &.marble {
    background-color: #f0f0f0;
    & .products__pic {
      right: -100px;
    }
  }
  &.granite {
    background-color: #fff;
    & .products__pic {
      left: -112px;
      right: auto;
    }
  }

  & .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .products__pic {
      position: absolute;
      top: -37px;
      z-index: -1;
      width: 1036px;
      height: 430px;
      @include bp(md) {
        display: none;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    @include bp(xs) {
      margin-bottom: 20px;
    }
    & h2 {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 26px;
      line-height: 32px;
      font-weight: 500;
      color: $black;
      @include bp(xs) {
        font-size: 18px;
        line-height: 22px;
      }
      &::before {
        content: "";
        display: block;
        margin-right: 10px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: $accent;
        @include bp(xs) {
          width: 7px;
          height: 7px;
        }
      }
    }

    & a {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
      color: $black;
      &:hover {
        color: $accent;
        text-decoration: none;
      }
      @include bp(sm) {
        display: none;
      }
      & svg {
        margin-right: 10px;
      }
    }
  }

  &__bot {
    display: none;
    margin-top: 25px;
    @include bp(sm) {
      display: block;
    }
    a {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
      color: $black;
      &:hover {
        color: $accent;
        text-decoration: none;
      }
      svg {
        margin-right: 10px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 825px;
    }

    @media (max-width: 991px) {
      max-width: 540px;
    }

    @include bp(xs) {
      max-width: unset;
      gap: 10px;
    }

    & li div {
      transition: box-shadow 0.3s;
    }

    & li:hover div {
      box-shadow: 0 4px 10px rgba(17, 17, 17, 0.2);
    }

    & li:hover h3 {
      background-color: $accent;
      color: #fff;
    }

    & a {
      text-decoration: none;
      width: 255px;
      height: 255px;
      display: block;
      position: relative;
      @include bp(xs) {
        width: calc(50vw - 20px);
        height: calc(50vw - 20px);
      }
    }

    & div {
      width: 100%;
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & h3 {
      margin: 0;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: $black;
      position: absolute;
      left: 19px;
      bottom: 19px;
      width: calc(100% - 38px);
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5px 10px;
      background: #fff;
      box-shadow: 0 0 10px rgba(17, 17, 17, 0.3);
      transition: linear 0.2s;
      @include bp(xs) {
        height: 30px;
        padding: 3px 5px;
        left: 10px;
        bottom: 10px;
        width: calc(100% - 20px);
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
