.about {
  & h1 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 55px;
    padding-bottom: 15px;
    font-size: 36px;
    line-height: 44px;
    color: $black;
    border-bottom: 1px solid $accent;
  }

  &__inner {
    position: relative;
    padding-bottom: 110px;
    &::after {
      content: "";
      position: absolute;
      right: -665px;
      top: -122px;
      width: 571px;
      height: 571px;
      border-radius: 50%;
      border: 1px solid #ffffff;
    }
  }

  &__top,
  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    & h2 {
      font-size: 21px;
      line-height: 26px;
      font-weight: 500;
      color: $black;
    }

    & p {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: $black;
    }
  }

  &__top {
    margin-bottom: 72px;
    & h2 {
      display: flex;
      align-items: center;
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        margin-right: 16px;
        background-color: $accent;
        transform: rotate(45deg);
      }
    }
    & div:first-child {
      max-width: 540px;
      margin-right: 20px;

      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    & .about__text {
      position: relative;
      max-width: 440px;
      & svg {
        position: absolute;
        bottom: 50px;
        left: -45px;
      }
    }
  }
  &__bottom {
    & p {
      max-width: 634px;
    }
    & div:last-child {
      max-width: 372px;
      max-height: 308px;
      margin-top: -110px;
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  & .other-section {
    padding: 75px 0;
    background-color: #f4f4f4;

    & .other__parts {
      position: relative;
      & svg {
        position: absolute;
        right: -60px;
      }
    }

    & p {
      width: fit-content;
      margin: 0;
      margin-bottom: 40px;
      padding-bottom: 18px;
      border-bottom: 1px solid $accent;
      font-size: 21px;
      line-height: 26px;
      font-weight: 500;
      color: $black;
    }

    & li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &::before {
        content: "";
        width: 7px;
        height: 7px;
        margin-right: 16px;
        transform: rotate(45deg);
        background-color: $accent;
      }
    }

    & li a {
      display: block;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      text-decoration: none;
      &:hover {
        color: $accent;
      }
    }

    & .other {
      display: flex;
      flex-wrap: wrap;
      gap: 130px;
    }
  }

  & .documents-section {
    padding-top: 65px;
    padding-bottom: 70px;

    & .container {
      @media (min-width: 992px) {
        padding: 0;
      }
    }

    & h2 {
      display: flex;
      align-items: center;
      margin: 0;
      margin-left: 15px;
      margin-bottom: 15px;
      font-size: 21px;
      line-height: 26px;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        margin-right: 15px;
        transform: rotate(45deg);
        background-color: $accent;
      }
    }
    & .documents-slider {
      max-width: 1140px;
      margin: 0 auto;

      & .slick-arrow {
        position: absolute;
        top: -34px;
        width: 20px;
        height: 20px;
        background: none;
        border: none;
        font-size: 0;
        background-image: url("../images/icons/arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:hover {
          opacity: 0.5;
        }

        &.slick-next {
          right: 15px;
        }

        &.slick-prev {
          transform: rotate(180deg);
          right: 55px;
        }

        &.slick-disabled {
          cursor: default;
          opacity: 0.3;
        }
      }

      & .slick-slide {
        display: flex;
        justify-content: center;
      }

      & .documents-slide {
        max-width: 160px;
        margin: 0 auto;
        height: 230px;
        &:hover {
          cursor: pointer;
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  & .reviews-section {
    padding-top: 65px;
    padding-bottom: 70px;
    background: #f4f4f4;

    & .reviews {
      &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        & h2 {
          display: flex;
          align-items: center;
          margin: 0;
          margin-bottom: 15px;
          font-size: 21px;
          line-height: 26px;

          &::before {
            content: "";
            width: 10px;
            height: 10px;
            margin-right: 15px;
            transform: rotate(45deg);
            background-color: $accent;
          }
        }

        & a {
          display: flex;
          align-items: center;
          font-size: 12px;
          line-height: 15px;
          color: $black;
          text-decoration: none;
          &:hover {
            color: $accent;
          }

          & svg {
            margin-right: 10px;
          }
        }
      }

      &__list {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 25px;

        & .reviews__item {
          max-width: 350px;
          min-height: 300px;
          padding: 32px;
          background: #fff;

          & > span {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
            font-size: 10px;
            line-height: 12px;
            color: $black;
          }

          & p {
            margin: 0;
            margin-bottom: 30px;
            font-size: 14px;
            line-height: 21px;
            color: $black;
          }

          &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & span {
              font-size: 14px;
              line-height: 17px;
              font-weight: 500;
              color: $black;
            }

            & .rating {
              display: flex;
              &__star {
                width: 19px;
                &:last-child {
                  width: 14px;
                }
              }
            }
          }
        }
      }

      &__btn {
        max-width: 254px;
        border: 1px solid #4d4c4c;
        border-radius: 30px;
        color: $black;
        background-color: transparent;
        &:hover {
          background-color: #4d4c4c;
          color: #fff;
        }
      }
    }
  }
}
