.fields {
  padding: 30px 0 105px;
  @include bp(xs) {
    padding: 10px 0 55px;
  }
}

.fields-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
  @include bp(sm) {
    flex-direction: column;
  }
  @include bp(xs) {
    margin-bottom: 10px;
  }
  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    max-width: 66.66666%;
    @include bp(md) {
      max-width: 55%;
    }
    @include bp(sm) {
      max-width: 100%;
    }
    @include bp(xs) {
      font-size: 21px;
      line-height: 30px;
    }
  }
}

.fields-controls {
  padding-top: 18px;
  display: flex;
  justify-content: flex-end;
  min-width: 33.33333%;
  @include bp(md) {
    min-width: 45%;
  }
  @include bp(sm) {
    width: 100%;
  }
  @include bp(xs) {
    //display: none;
  }
  .dropdown-wrapper {
    position: relative;
    margin-left: 10px;
    @include bp(xs) {
      max-width: calc(50% - 5px);
    }
    &:first-child {
      margin-left: 0;
    }
    &.open {
      .dropdown {
        border-color: #fff;
        background-color: #fff;
        > i {
          &:after {
            transform: translate(-50%, -50%) rotate(-180deg);
          }
        }
      }
      .dropdown-list {
        opacity: 1;
        visibility: visible;
        z-index: 1;
        top: calc(100% + 15px);
      }
    }
  }
  .dropdown {
    border: 1px solid rgba($gray-dark, 0.2);
    display: flex;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    height: 30px;
    padding: 0 15px;
    transition: linear 0.3s;
    &:hover {
      background-color: #fff;
      border-color: #fff;
    }
    > span {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      margin-right: 7px;
    }
    > div {
      max-width: 120px;
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 15px;
      color: $gray-dark;
      margin-right: 3px;
      @include bp(xxs) {
        max-width: 55px;
      }
      .dropdown-color {
        display: flex;
        width: 10px;
        min-width: 10px;
        height: 10px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 4px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        picture {
          display: flex;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .dropdown-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    > i {
      width: 12px;
      min-width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 5px solid $black;
        transition: transform 0.3s;
      }
    }
  }
  .dropdown-list {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    top: calc(100% + 5px);
    position: absolute;
    width: 150px;
    border-radius: 3px;
    background: #fff;
    filter: drop-shadow(0 10px 20px rgba($black, 0.2));
    transition: linear 0.1s;
    right: 0;
    @include bp(xs) {
      width: 100%;
      min-width: 110px;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 13px;
      border-bottom: 10px solid #fff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
    ul {
      padding: 10px 15px;
      max-height: 176px;
      overflow: auto;
      &::-webkit-scrollbar {
        overflow-y: scroll;
        background: #e5e5e5;
        border-radius: 1px;
        width: 3px;
        transition: linear 0.2s;
      }
      &::-webkit-scrollbar-thumb {
        background: $gray-dark;
        border-radius: 1px;
        width: 3px;
        transition: linear 0.2s;
        cursor: grab;
      }
      li {
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          font-size: 12px;
          line-height: 1;
          text-decoration: none;
          color: $gray-dark;
          display: flex;
          align-items: flex-start;
          &:hover {
            text-decoration: none;
            color: $accent;
          }
          .dropdown-color {
            display: flex;
            width: 10px;
            min-width: 10px;
            height: 10px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 4px;
            margin-top: 2px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            picture {
              display: flex;
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

.fields-wrapper {
  display: flex;
  flex-wrap: wrap;
  @include bp(sm) {
    margin: 0 -10px;
  }
  .col-xs-12 {
    height: inherit;
    margin-bottom: 30px;
    @include bp(sm) {
      padding: 0 10px;
      margin-bottom: 20px;
      width: 50%;
    }
    @include bp(xs) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.fields-item {
  width: 100%;
  height: 100%;
  padding-bottom: 28px;
  border: 1px solid rgba($gray-dark, 0.2);
  display: flex;
  flex-direction: column;
  transition: linear 0.2s;
  @include bp(xs) {
    padding-bottom: 18px;
  }
  &:hover {
    border-color: #f0f0f0;
    box-shadow: 0 0 20px rgba($gray-dark, 0.2);
  }
}

.fields-item__pic {
  width: 100%;
  height: 210px;
  padding: 24px 25px 0;
  @include bp(xs) {
    padding: 15px 15px 0;
    height: calc(74vw - 60px);
  }
  > picture {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.fields-item__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $black;
  text-decoration: none;
  padding: 6px 25px;
  @include bp(xs) {
    padding: 10px 15px;
  }
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.fields-item__colors {
  padding: 0 25px 10px;
  display: flex;
  @include bp(xs) {
    padding: 0 15px 10px;
  }
  > span {
    font-size: 12px;
    line-height: 1;
    margin-right: 15px;
    min-width: max-content;
  }
  > div {
    display: flex;
    flex-wrap: wrap;
    .color {
      display: flex;
      width: 10px;
      min-width: 10px;
      height: 10px;
      border-radius: 50%;
      overflow: hidden;
      margin: 2px 5px 2px 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      picture {
        display: flex;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
// ===============
.fields-item__descr {
  margin-bottom: 5px;
  padding: 0 25px;
  max-height: 50px;
  overflow: hidden;
  font-size: 12px;
  line-height: 140%;
  color: $gray-dark;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @include bp(xs) {
    padding: 0 15px;
    margin-bottom: 0;
  }
}

.fields-item__footer {
  display: flex;
  align-items: flex-end;
  flex: 1 0 auto;
  padding: 0 25px;
  & > div {
    width: 100%;
  }
  @include bp(xs) {
    padding: 0 15px;
  }
}

.fields-item__more {
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 15px;
  color: $black;
  text-decoration: underline;
  transition: linear 0.2s;
  cursor: pointer;
  @include bp(xs) {
    padding: 0 0 15px 0;
  }
  &:hover {
    text-decoration: underline;
    color: rgba($black, 0.5);
  }
}

.fields-item__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  height: 30px;
  margin: 0 auto;
  border: 1px solid $accent;
  background-color: $accent;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-decoration: none !important;
  color: #fff !important;
  text-transform: uppercase;
  transition: linear 0.2s;
  box-shadow: 0 0 10px rgba($black, 0.35);
  cursor: pointer;
  &:after {
    content: "";
    margin-left: 10px;
    border-left: 5px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: linear 0.2s;
  }
  &:hover {
    text-decoration: none;
    color: $accent !important;
    background-color: transparent;
    box-shadow: none;
    &:after {
      border-left-color: $accent;
    }
  }
}
// ===============
.fields-footer {
  margin-top: 30px;
}
