.footer {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: $black;
  @media (max-width: 480px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    margin-right: 55px;
    @media (max-width: 767px) {
      margin-bottom: 55px;
    }
    @media (max-width: 480px) {
      margin-right: 15px;
      margin-bottom: 30px;
    }
    img {
      width: 244px;
      height: 102px;
      object-fit: contain;
      @include bp(xs) {
        width: 143px;
        height: 60px;
      }
    }
    & a {
      display: block;
      margin-bottom: 25px;
      text-transform: uppercase;
      font-size: 46px;
      line-height: 56px;
      color: $white;
      text-decoration: none;
      @include bp(xs) {
        margin-bottom: 15px;
      }
    }
    & p {
      margin: 0;
      font-size: 10px;
      line-height: 12px;
      color: rgba($white, 0.7);
      @media (max-width: 480px) {
        font-size: 11px;
      }
    }
  }

  &__about {
    flex-grow: 1;
    max-width: 500px;
    @media (max-width: 767px) {
      padding-right: 15px;
    }
    & .footer-row.top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;
      @media (max-width: 480px) {
        flex-direction: column;
        margin-bottom: 20px;
      }
      & .footer-col {
        @media (max-width: 480px) {
          margin-bottom: 15px;
        }
        &:last-child {
          @media (max-width: 480px) {
            margin-bottom: 0;
          }
        }
      }
      & .footer-col > span {
        display: block;
        margin-bottom: 13px;
        font-size: 14px;
        line-height: 17px;
        color: $white;
      }

      & li {
        margin-bottom: 9px;
      }
      & li a,
      & li span {
        display: block;
        font-size: 12px;
        line-height: 14px;
        color: rgba($white, 0.7);
        text-decoration: none;
      }
      & li a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .footer-row.bottom {
      & ul {
        display: flex;
        flex-wrap: wrap;
      }
      & li {
        & a {
          font-size: 10px;
          line-height: 12px;
          color: rgba($white, 0.7);
          text-decoration: none;
          @media (max-width: 480px) {
            font-size: 11px;
            margin-right: 10px;
          }
          &::after {
            content: "|";
            width: 1px;
            @media (max-width: 480px) {
              display: none;
            }
          }
          &:hover {
            text-decoration: underline;
            &::after {
              color: rgba($white, 0.7);
            }
          }
        }
        &:last-child a {
          &::after {
            display: none;
          }
        }
        & a::after {
          padding-right: 14px;
          padding-left: 14px;
        }
      }
    }
  }
}
