.mfp-bg {
  background: rgba(255, 255, 255, 0.6);
}

.popup {
  position: relative;
  margin: 0 auto;
  max-width: calc(100vw - 30px);
  background: #fff;
  box-shadow: 0 0 30px rgba(17, 17, 17, 0.2);
  max-height: 100vh;
  overflow: auto;
  &.reviews-popup {
    width: 960px;
    padding: 68px 62px 100px;
    @include bp(sm) {
      padding: 50px 30px;
    }
    @include bp(xs) {
      padding: 40px 15px 30px;
    }
    .popup-title {
      margin-bottom: 28px;
      @include bp(xs) {
        margin-bottom: 24px;
      }
    }
  }
  // order
  &.order-popup {
    width: 960px;
    padding: 68px 62px 100px;
    @include bp(sm) {
      padding: 50px 30px;
    }
    @include bp(xs) {
      padding: 40px 15px 30px;
    }
    .popup-title {
      margin-bottom: 56px;
      @include bp(xs) {
        margin-bottom: 24px;
      }
    }
  }
  // consult
  &.consult-popup {
    width: 960px;
    padding: 68px 62px 100px;
    @include bp(sm) {
      padding: 50px 30px;
    }
    @include bp(xs) {
      padding: 40px 15px 30px;
    }
    .popup-title {
      margin-bottom: 56px;
      @include bp(xs) {
        margin-bottom: 24px;
      }
    }
  }

  .mfp-close {
    width: 24px;
    height: 24px;
    right: 30px;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    opacity: 1;
    cursor: pointer;
    @include bp(xs) {
      right: 10px;
      top: 10px;
    }
    svg {
      pointer-events: none;
      path {
        transition: linear 0.2s;
      }
    }
    &:hover {
      svg {
        path {
          fill: $accent;
        }
      }
    }
  }
}

.popup-title {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  @include bp(xs) {
    font-size: 21px;
    line-height: 26px;
  }
}

.reviews-popup__rating {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
  @include bp(xs) {
    margin-bottom: 30px;
  }
  > span {
    margin-right: 25px;
    font-size: 12px;
    line-height: 15px;
  }
}

.reviews-popup__form {
  .textarea {
    height: 112px;
    @include bp(xs) {
      height: 122px;
    }
  }
  .btn {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.3);
    width: 402px;
    max-width: 100%;
    margin: 35px auto 0;
    color: $white;
    @include bp(xs) {
      margin-top: 25px;
    }
  }
}

.reviews-popup__form-wrapper {
  display: flex;
  justify-content: space-between;
  @include bp(xs) {
    flex-direction: column;
  }
  > div {
    width: calc(50% - 15px);
    @include bp(xs) {
      width: 100%;
    }
    .input-wrapper {
      margin-bottom: 20px;
      @include bp(xs) {
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 0;
        @include bp(xs) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.reviews-popup__form-upload {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  @include bp(xs) {
    margin-top: 0;
  }
  .input-file {
    cursor: pointer;
    width: 345px;
    max-width: 100%;
    > label {
      font-weight: 400;
      margin-bottom: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        svg {
          path {
            fill: $accent;
          }
        }
        span {
          color: $accent;
        }
      }
      > svg {
        min-width: 11px;
        margin-right: 15px;
      }
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $gray-dark;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    input {
      display: none;
    }
  }
}

// order
.order-popup__form {
  .textarea {
    // overflow: hidden;
    height: 46px;
    padding: 14px 16px;
    @include bp(xs) {
      height: 122px;
    }
  }
  .btn {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.3);
    width: 402px;
    max-width: 100%;
    margin: 35px auto 0;
    color: $white;
    @include bp(xs) {
      margin-top: 25px;
    }
  }
}

.order-popup__form-wrapper {
  display: flex;
  justify-content: space-between;
  @include bp(xs) {
    flex-direction: column;
  }
  > div {
    width: calc(50% - 15px);
    @include bp(xs) {
      width: 100%;
    }
    .input-wrapper {
      margin-bottom: 20px;
      @include bp(xs) {
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 0;
        @include bp(xs) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

// consult
.consult-popup__form {
  .btn {
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.3);
    width: 402px;
    max-width: 100%;
    margin: 30px auto 0;
    color: $white;
    @include bp(xs) {
      margin-top: 25px;
    }
  }
}

.consult-popup__form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  > div {
    width: calc(50% - 15px);
    @include bp(xs) {
      width: 100%;
    }
    & .input-wrapper {
      margin-bottom: 20px;
      @include bp(xs) {
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 0;
        @include bp(xs) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.swal2-modal {
  width: 960px !important;
  max-width: calc(100vw - 30px);
  background: #fff;
  padding: 40px 15px 30px;
  padding-top: 68px !important;
  padding-bottom: 140px !important;
  max-height: 100vh;
  overflow: auto;
  border-radius: 0;
  @include bp(xs) {
    position: fixed !important;
    max-width: calc(100vw - 30px);
    padding: 67px 26px !important;
  }
  .swal2-title {
    font-family: $default !important;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    display: block;
    text-align: center;
    margin-bottom: 45px;
    color: $black;
    position: relative;
    @media (max-width: 574px) {
      margin-bottom: 25px;
      font-size: 21px !important;
      line-height: 26px !important;
    }
  }
  .swal2-content {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-family: $default !important;
    font-weight: normal;
    color: $black;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    @media (max-width: 574px) {
      font-size: 15px;
      line-height: 18px;
    }
  }
  .swal2-buttonswrapper {
    margin-top: 0;
  }
  .swal2-styled {
    display: none !important;
    &.swal2-cancel {
      display: block !important;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 20px;
      right: 20px;
      margin: 0;
      background-color: transparent !important;
      border-color: transparent !important;
      line-height: 1;
      font-size: 0;
      opacity: 1;
      padding: 0;
    }
  }

  .swal2-styled {
    display: none !important;
  }

  & .swal2-close {
    display: block !important;
    color: $black !important;
    width: 65px !important;
    height: 68px !important;
    font-weight: 600;
    @media (max-width: 574px) {
      width: 48px !important;
      height: 48px !important;
      font-size: 28px !important;
    }
  }
  & .swal2-confirm {
    display: block !important;
    width: 100%;
    max-width: 403px;
    margin: 0 auto !important;
    height: 50px;
    border: 0;
    border-radius: 0 !important;
    box-shadow: 0px 0px 10px rgba(17, 17, 17, 0.3) !important;
    background-color: #4c1c1c !important;
    cursor: pointer;
    font-size: 0 !important;
      line-height: 0 !important;
    padding: 5px 10px !important;

    &::before {
      content: "ХОРОШО";
      font-size: 12px !important;
      line-height: 15px !important;
      font-weight: 500;
text-transform: uppercase;
    }
    &:hover {
      background-color: $accent;
    }
  }
}

.swal2-icon {
  display: none !important;
}
