// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$black: #111;
$gray-dark: #4d4c4c;
$accent: #4c1c1c;
$default: "Commissioner";
