<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <a href="javascript:void(0)">
        <img src="../../images/pixel.png" data-original="../../images/logo-footer.svg" class="lazy" alt="">
      </a>
      <p>© 2021 Московский дом камня | Все права защищены</p>
    </div>
    <div class="footer__about">
      <div class="footer-row top">
        <div class="footer-col">
          <span>Компания</span>
          <ul>
            <li><a href="javascript:void(0)">Блог</a></li>
            <li><a href="javascript:void(0)">Возврат</a></li>
            <!-- <li><a href="javascript:void(0)">О нас</a></li> -->
            <li><a href="javascript:void(0)">Доставка и оплата</a></li>
            <li><a href="javascript:void(0)">Месторождения</a></li>
            <li><a href="javascript:void(0)">Контакты</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <span>Виды изделий</span>
          <ul>
            <li><a href="javascript:void(0)">Плита</a></li>
            <li><a href="javascript:void(0)">Подоконник</a></li>
            <li><a href="javascript:void(0)">Ступени</a></li>
            <li><a href="javascript:void(0)">Пол</a></li>
            <li><a href="javascript:void(0)">Лестницы</a></li>

          </ul>
        </div>
        <div class="footer-col">
          <span>Наши данные</span>
          <ul>
            <li><span>ИНН 98345геаом</span></li>
            <li><span>ОГРН м85793579</span></li>
            <li><a href="javascript:void(0)">054- 504-50- 405</a></li>
            <li><span>г. Москва, ул. Гагарина,<br> 180. оф.6</span></li>

          </ul>
        </div>
      </div>
      <div class="footer-row bottom">
        <ul>
          <li><a href="javascript:void(0)">Политика конфиденциальности</a></li>
          <li><a href="javascript:void(0)">Карта сайта</a></li>
          <li><a href="javascript:void(0)">Карта категорий</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="mfp-hide">
</div>

<!-- font-size: 10px;
line-height: 12px;
color: rgba(#ffffff, 0.7); -->
